.home_home__2Gbg6 {
    display: grid;
    padding-bottom: 5.8rem;
    overflow: hidden
}

@media(min-width:768px) {
    .home_home__2Gbg6 {
        overflow: unset
    }
}

@media(min-width:1024px) {
    .home_home__2Gbg6 {
        padding-bottom: 7.1rem
    }
}

.home_home__container__4t_yI {
    margin-bottom: 5rem
}

@media(min-width:1024px) {
    .home_home__container__4t_yI {
        margin-bottom: 8.2rem
    }
}

.home_home__info_section__MJm8W {
    margin: 3rem 0 .5rem
}

@media(min-width:768px) {
    .home_home__info_section__MJm8W {
        margin: 3rem 0
    }
}

.home_home__clutch_reviews__Ulws_ {
    margin-bottom: 60px;
    overflow: hidden
}

@media(min-width:768px) {
    .home_home__clutch_reviews__Ulws_ {
        margin-bottom: 81px
    }
}

.home_home__case_studies_section__Au8hk {
    margin-bottom: 2.4rem
}